{% extends "base.html" %}
{% load static %}
{%  block start %}



<style>
    .profile-section {
        padding: 60px 15px;
    }
    .profile-text {
        font-size: 1rem;
    }
    .profile-text h1 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .profile-text h2 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .profile-text p {
        margin-bottom: 20px;
        font-size: 1rem;
    }
    .profile-image {
        text-align: center;
    }
    .profile-image img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }
    .quote {
        font-style: italic;
        text-align: center;
        margin-top: 10px;
    }
</style>

<div class="container profile-section">
    <div class="row">
        <div class="col-md-8 profile-text">
            <h1>Hi 👋, I'm Rishi Ginoya</h1>
            <p>I am a Python programmer and web developer with a deep passion for crafting efficient and scalable web applications. With expertise in Python, Django, Flask, HTML, CSS, JavaScript, and SQL, I thrive in environments where learning, innovation, and problem-solving take place.</p>
            
            <h2>Expertise:</h2>
            <p>My expertise lies in backend development and programming. I excel in designing and implementing robust server-side applications using Python and Django. I also have strong skills in frontend development to create interactive and responsive user interfaces. Leveraging SQL and other databases, I ensure efficient data management and seamless integration of APIs, delivering scalable solutions according to clients' requirements.</p>
            
            <h2>Vision:</h2>
            <p>My vision is to continually push the boundaries of web development, staying at the forefront of emerging technologies and best practices. I am committed to delivering high-quality, maintainable code that not only meets but exceeds expectations. Let's connect and embark on a journey of innovation and growth together in the dynamic world of web development and programming.</p>
        </div>
        <div class="col-md-4 profile-image">
            <img src= "{% static 'images/portfolioPic.jpg' %}" alt="Rishi Ginoya">
            <p class="quote">"Try not to become a man of success, rather become a man of value."</p>
        </div>
    </div>
</div>



{% endblock %}